* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", "Nabla", cursive, sans-serif;
}
p {
  color: white;
}
body {
  background: rgb(61, 67, 70);
  background: -moz-linear-gradient(115deg, rgba(61, 67, 70, 1) 15%, rgba(127, 131, 205, 1) 48%, rgba(44, 38, 97, 0.6362920168067228) 76%);
  background: -webkit-linear-gradient(115deg, rgba(61, 67, 70, 1) 15%, rgba(127, 131, 205, 1) 48%, rgba(44, 38, 97, 0.6362920168067228) 76%);
  background: linear-gradient(115deg, rgba(61, 67, 70, 1) 15%, rgba(127, 131, 205, 1) 48%, rgba(44, 38, 97, 0.6362920168067228) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d4346",endColorstr="#2c2661",GradientType=1);
}

/* navbar area start*/
.search-hover {
  border: 1px solid #fff;
  outline: none;
  width: 120px;
  height: 35px;
  transition: all 0.5s;
}
.search-hover:hover {
  width: 300px;
}
.nav-link {
  --c: linear-gradient(rgb(240, 37, 71) 0 0); /* update color here */
  background: var(--c), var(--c);
  background-size: 0.3em 0;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: 0.7s linear, background-size 0.3s 0.2s linear;
}

.nav-link:hover {
  background-size: 100% 0.1em;
  background-position: 10% 100%, 90% 100%;
}

.nav-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration: none;
  transition: 0.2s;
}

.custom-btn {
  background: rgb(61, 67, 70);
  background: linear-gradient(260deg, rgba(61, 67, 70, 1) 41%, rgba(127, 123, 161, 0.7175245098039216) 76%);
}
/* navbar area end */

/* login form */
.txt_field input {
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
/* Sign In */
.btn-2 {
  flex: 1 1 auto;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(115deg, rgba(26, 28, 31, 0.8407738095238095) 14%, rgba(61, 67, 70, 0.5242471988795518) 51%, rgba(127, 131, 205, 0.6334908963585435) 67%, rgba(44, 38, 97, 0.6362920168067228) 76%);
}

.btn-2:hover {
  background-position: right center; /* change the direction of the change here */
}

/*Sign In End */
/* login form end */

/* carousel */
.carousel-item {
  height: 60vh;
}
.carousel-item img {
  object-fit: fill;
  position: relative;
  top: 0;
  overflow: hidden;
  height: 60vh;
}

.carousel-item .flex-column {
  position: relative;
  top: 20%;
}

.description-movie {
  background: #000;
}

.description-movie h1 {
  margin-bottom: 2vh;
  font-weight: 600;
}
.image-gradient {
  position: absolute;
  width: 10vh;
  height: 100%;
  left: 45%;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6895133053221288) 0%, rgba(18, 12, 12, 0.896796218487395) 13%, rgb(2, 0, 0) 48%, rgba(0, 0, 0, 1) 100%);
  opacity: 0.5;
}
/*card  */
.card-body {
  position: absolute;
  bottom: 0;
}

.card img {
  height: 240px;
}

/* card button */

.btn-dark-blue {
  background: linear-gradient(115deg, rgba(52, 138, 199, 1) 43%, rgba(127, 131, 205, 0.6334908963585435) 86%, rgba(44, 38, 97, 0.6362920168067228) 100%, rgba(116, 116, 191, 1) 100%);
  color: #fff;
}
/* modal */

#video {
  width: 100%;
}
.modal-body {
  position: relative;
  padding: 0px;
}

/* membership */
.card-membership-img {
  height: 240px;
  overflow: hidden;
}

.card-membership {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 0px;
  transition: all 0.7s;
  opacity: 0.7;
}

.card-membership-img:hover .card-membership {
  left: 0;
}

.card-membership p {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 17px 0px;
}
/* subscribe */

.newsletter {
  padding: 80px 0;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px;
}
.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}
.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0;
  background: #243c4f;
  color: #fff;
  font-weight: 600;
}
/* footer */

footer {
  width: 100%;
  background-color: #000;
}

.footer-menu {
  margin-top: 25px;
}
.footer-title h4 {
  position: relative;
  cursor: pointer;
  padding-bottom: 15px;
  transition: 0.3s;
}
.footer-title h4:hover {
  color: #c5d6da;
}
.footer-title h4::after {
  content: "";
  width: 15%;
  height: 1px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #c5d6da;
}

.nav-item {
  cursor: pointer;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.nav-item a {
  color: #f4f0ee;
  font-family: "Playfair Display", serif;
  transition: 0.3s;
}
.nav-item a:hover {
  color: #ad5110;
}
.nav-item img {
  margin-top: 5px;
  width: 50%;
}
/* @media (max-width: 576px) {
  ...;
}

@media (max-width: 768px) {
  ...;
}

@media (max-width: 768px) {
  ...;
} */

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .search-hover {
    margin-left: 30px;
  }
  .d-flex {
    margin: 5px;
    flex-wrap: wrap;
  }
  .navbar-toggler {
    position: relative;
  }
  .nav-item button {
    align-items: center;
  }
  .nav-item {
    display: inline-grid;
  }
}

.col .card img {
  transition: all 0.2s ease-in-out;
}

.col .card:hover img {
  transform: scale(1.1);
}

.card-title {
  color: rgb(243, 236, 236);
}

/* modal */
.modal-card .modal-dialog .modal-content {
  background: linear-gradient(260deg, rgba(61, 67, 70, 1) 41%, rgba(127, 123, 161, 0.7175245098039216) 76%);
}

.txt_field input {
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
